
<div class="coverpage">

    <nav>
    <div class="nav-wrapper navbar-fixed">
      <a id="logo-container" href="{{site.baseurl}}/" class="brand-logo "><img class="logo" src="images/logo.png" alt="estospanas logo" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="tel:+34609405473">+34609405473</a></li>
        <li><a class="active" href={{site.baseurl}}/>Inicio</a></li>
        <li><a href="{{site.baseurl}}/quienessomos.html">Quiénes Somos</a></li>
        <li><a href="{{site.baseurl}}/tours.html">Tours</a></li>
        <li><a href="#ubicacion">Reservar</a></li>
        <li><a href="#ubicacion">Blog</a></li>
        <li><a id="languages1" href="{{site.baseurl}}/">ESP |</a></li>
        <li><a id="languages2" href="#ubicacion">ENG</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="whatsapp://send?abid=username&text=HeyThere!">whatsapp</a></li>
        <li><a class="active" href={{site.baseurl}}/>Inicio</a></li>
        <li><a href="{{site.baseurl}}/quienessomos.html">Quiénes Somos</a></li>
        <li><a href="{{site.baseurl}}/tours.html">Tours</a></li>
        <li><a href="#ubicacion">Reservar</a></li>
        <li><a href="#ubicacion">Blog</a></li>
        <li><a id="languages1" href="{{site.baseurl}}/">ESP |</a></li>
        <li><a id="languages2" href="#ubicacion">ENG</a></li>
      </ul>
    </div>
  </nav>


<div class="main">


  <!-- <div class="navbar-fixed"><nav class="nav-home black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{site.baseurl}}/" class="brand-logo "><img class="logo" src="images/logo.jpg" alt="estospanas logo" /></a>
      <ul class="right hide-on-med-and-down">
        <li><a href={{site.baseurl}}/>Inicio</a></li>
        <li><a href="#quienessomos">Quiénes Somos</a></li>
        <li><a href="#horario">Horario</a></li>
        <li><a href="#ubicacion">Ubicación</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav center">
        <li><a href={{site.baseurl}}/>Inicio</a></li>
        <li><a href="#quienessomos">Quiénes Somos</a></li>
        <li><a href="#horario">Horario</a></li>
        <li><a href="#ubicacion">Ubicación</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div> -->

<div class="carousel carousel-slider" data-indicators="true">


      <a class="carousel-item" href="#four!"><img src="images/beg11.png"></a>
      <a class="carousel-item" href="#four!"><img src="images/beg10.png"></a>
      <a class="carousel-item" href="#one!"><img src="images/beg8.png"></a>
      <a class="carousel-item" href="#two!"><img src="images/beg9.png"></a>
      <a class="carousel-item" href="#three!"><img src="images/beg3.png"></a>
      <div class="carousel-fixed-item center">


      </div>
      <div class="carousel-fixed-item center">
      <a href="http://www.eventbrite.es/e/entradas-boquete-canopy-tour-28960749381?ref=ebtnebtckt" target="_blank"><img id="eventbrite"src="https://www.eventbrite.es/custombutton?eid=28960749381" alt="Eventbrite - Boquete Canopy Tour" /></a>
    </div>


</div>
