<!--   Icon Section   -->

<div class="container" id="features">
  <div class="row">
    <div id="quienessomos"><center><h2>QUIENES SOMOS</h2></center>
    <div class="col m6">


              <img class="img-responsive" src="images/beg5.png" alt="boquete" />
      </div>
    <div class="col m6">

          <p>
              Somos una pequeña empresa turística local, en donde te ofrecemos diferentes aventuras al aire libre, y nuestro mayor objetivo, es tu diversión.
              <a href="{{site.baseurl}}/quienessomos.html">Ver más</a></p>


      </div>

    </div>
  </div>
  <div class="row">
    <div id="tours"><center><h2>Tours</h2></center>
    <div class="col m6 push-m6">


              <img class="img-responsive" src="images/beg8.png" alt="boquete" />
      </div>
    <div class="col m6 pull-m6">

          <p>
            Todos nuestros Tours buscan tu satisfacción, es por ello que nuestro principal objetivo es tu diversión. Contrata algunos de nuestros tours donde disfrutarás de un trato personalizado.
              <a href="{{site.baseurl}}/tours.html">Ver más</a></p>


      </div>

    </div>
  </div>
</div>
</div>
