<head>
  <script type="text/javascript">$( document ).ready()</script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="description" content="EstosPanas nace para ayudar a todas aquellas personas que desean vivir, trabajar, emprender o estudiar en España">

  <!-- CSS  -->
  <link rel="alternate" hreflang="es_ES" href="http://www.estospanas.com/">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <link href="{{site.baseurl}}/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{site.baseurl}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  {% include ga.html %}
  {% include twittercard.html %}
  {% include opengraph.html %}

</head>
