
<div class="container">
  <div class="row">
    <div class="col m6">

    <div class="video-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63085.04311781942!2d-82.4920386!3d8.8034261!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa5ebf0cfd4ad73%3A0xe3d4dcc9b03b7783!2sBoquete+Adventures+Canopy+Tours!5e0!3m2!1ses!2ses!4v1476813278279" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</div>
<!--         Slider              -->
<div class="col m6"><div class="slider center">
  <ul class="slides">
    <li><a href="https://www.youtube.com/watch?v=xXOStcJAsO8">
      <img class="post" src="{{ site.baseurl}}/images/beg1.png"> <!-- random image -->
      <div class="caption center-align">

      </div>
    </a></li>

    <li>
      <img class="post" src="{{ site.baseurl}}/images/beg2.png"> <!-- random image -->
      <div class="caption center-align">

      </div>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=qMxkjeHN1O4"><img class="post" src="{{ site.baseurl}}/images/beg3.png">
        https://www.youtube.com/watch?v=qMxkjeHN1O4 <!-- random image -->
        <div class="caption center-align">

        </div></a>
      </li>
      <li>
        <img class="post" src="{{ site.baseurl}}/images/pablo-herrero-jose-luis-armenteros-11-06-16.jpg"> <!-- random image -->
        <div class="caption center-align">


        </div>
      </li>
    </ul>
  </div></div>
  <!--            Slider end            -->
</div></div>
