<nav>
<div class="nav-wrapper navbar-fixed">
  <a id="logo-container" href="{{site.baseurl}}/" class="brand-logo "><img class="logo" src="images/logo.png" alt="estospanas logo" /></a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
    <li><a href="tel:+34609405473">+34609405473</a></li>
    <li><a class="active" href={{site.baseurl}}/>Inicio</a></li>
    <li><a href="{{site.baseurl}}/quienessomos.html">Quiénes Somos</a></li>
    <li><a href="{{site.baseurl}}/tours.html">Tours</a></li>
    <li><a href="#ubicacion">Reservar</a></li>
    <li><a href="#ubicacion">Blog</a></li>
    <li><a id="languages1" href="{{site.baseurl}}/">ESP |</a></li>
    <li><a id="languages2" href="#ubicacion">ENG</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="whatsapp://send?abid=username&text=HeyThere!">whatsapp</a></li>
    <li><a class="active" href={{site.baseurl}}/>Inicio</a></li>
    <li><a href="{{site.baseurl}}/quienessomos.html">Quiénes Somos</a></li>
    <li><a href="{{site.baseurl}}/tours.html">Tours</a></li>
    <li><a href="#ubicacion">Reservar</a></li>
    <li><a href="#ubicacion">Blog</a></li>
    <li><a id="languages1" href="{{site.baseurl}}/">ESP |</a></li>
    <li><a id="languages2" href="#ubicacion">ENG</a></li>
  </ul>
</div>
</nav>
