<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{site.baseurl}}/js/materialize.js"></script>
<script src="{{site.baseurl}}/js/init.js"></script>
<script type="text/javascript">
$(document).ready(function(){
     $('.slider').slider({full_width: false});
   });


</script>
<!-- <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script> -->
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.7&appId=1138698906223730";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'es'}
</script>
    <script id="dsq-count-scr" src="//estospanas.disqus.com/count.js" async></script>
    <script type="text/javascript">
        $('.carousel.carousel-slider').carousel({full_width: true, indicators: true});

    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
