<div class="row">
  <div class="col s12 center socialshare" >

  <!-- <span>  <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet" >
Tweet</a></span> -->
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div><style media="screen" type="text/css">
        .fb_iframe_widget span
        {
            vertical-align: top !important;
        }
        </style>

<!-- Place this tag in your head or just before your close body tag. -->


<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.estospanas.com/" style="vertical-align: bottom"></div>

<span >
  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script>
  <script type="IN/Share"></script>
</span>


</div>
</div>
