<div class="row">
      <h2>Qué opinan nuestros clientes</h2>
      <div class="col s6">
      <p>
        “Quería constituir una sociedad limitada y no sabía por donde empezar… No tenía idea de cuánto me costaría, los documentos que hacían falta o si tendría que acudir a un notario. Afortunadamente buscando en internet encontré un artículo de Law&Order donde hablaban del tema, eso me hizo pensar que dominaban el tema. Así que los contacté y estoy muy contenta con mi decisión, desde hace dos años acudo a ellos para cualquier consulta legal”
      </p>

    </div>
      <div class="col s6 center">
      <img class="avatar circle img-responsive">
        <center><img src="https://interletrados.github.io/LawAndOrder/images/testimonial.png" alt="Avatar" height="150px" />
      </img></center>
      <h2>Virginia del Hierro</h2></div>

  </div>
