---
---

// --------------------------------------------------
// APP.SCSS
// --------------------------------------------------
// This is our main SCSS file that imports everything
// that gets compiled into app.css

// Import order:
// 1.  Encoding
// 2.  Variables
// 3.  Fonts
// 4.  Foundation
// 5.  Helpers
//
// SMACSS Architecture
// 6.  Base
// 7.  Layout
// 8.  Modules
// 9.  State
// 10. Theme

//
// 1. Encoding
// --------------------------------------------------
@charset 'UTF-8';

//
// 2. Variables
// --------------------------------------------------

// Import our global variables first so we can use
// them in Foundations's variables file

// Global Config Variables
@import 'base/config';

//
// 3. Fonts
// --------------------------------------------------

// Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");


//
// 4. Foundation
// --------------------------------------------------
// Source: http://foundation.zurb.com/docs/
// Notes:
// - Foundation's component styles are set
//   in foundation/_settings.
// - Modify the _settings.scss file before overriding
//   the component styles on your own.
// - Need a specific foundation component? Enable it
//   in foundation/_foundation.scss.

// Import all of Foundation
@import 'foundation/foundation';

//
// 5. Helpers
// --------------------------------------------------

// Functions
@import 'helpers/functions';

// Mixins
@import 'helpers/mixins';

//
// 6. Base
// --------------------------------------------------
@import 'base/headings';
@import 'base/links';

//
// 7. Layout
// --------------------------------------------------
@import 'layouts/l-default';
@import 'layouts/l-index';
@import 'layouts/l-page';
@import 'layouts/l-post';

//
// 8. Modules
// --------------------------------------------------
@import 'modules/m-your-module';

//
// 9. State
// --------------------------------------------------
@import 'states/s-your-module';

//
// 10. Theme
// --------------------------------------------------
@import 'themes/theme';

//Custom
@font-face {
    font-family: 'Farray';
    src: url('fonts/farray.otf');
}


body{
  background: url('../img/fondo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav{
  &::before{
    background-color: #8B572A;
    opacity: 0.2;
  }
}

#example-menu{
  font-family: 'Farray', sans-serif;
  ul li{
    a{
      color: #8B572A;
      font-size: 0.84em;
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 18px;
    }
  }
}
#navitem{
  background-image: url('../img/BOTONMADERA.png');
  background-repeat: no-repeat;

}
.menu-icon{
  margin-top: 1.1rem;
}
#logo{
  max-height: 100px;
  margin: 0 auto;
  padding-left: 15px;

}
#logo-bar{
  position: absolute;
  top:5px;
  left:40%;
  max-height: 60px;

}
.top-bar{
  padding: 0;

  ul{
    background-color: #8B572A;
    // opacity: 0.2;
    background-position: center;
    background-image: image();
  }

}
// Features
#first-container{
  max-width: 90%;
  margin: 0 auto;
  .social-icons{
    padding-top: 1em;
    padding-right: 1.7em;
  }
  #carrusel-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  #frame{
    position: absolute;
    top: 0;
    left:0;
    z-index: 2;
  }
  .orbit {
      position: relative;
      max-width: 90%;
      margin: 0 auto;
    }
  .orbit-image {
    border-radius: 15px;
    position: relative;
  }
  .orbit-bullets{
    position: absolute;
    bottom: 1em;
    left:10px;
    right: 10px;
    button.is-active{
      background-color: #FD4D17;
    }
  }
  }
}

.sq-grid{
  margin-top: 3em;
}
.sq-container{
  padding: 20px;

  width: 100%;

  border-radius: 15px 15px 0 0;

  .sq-title{
    background-color: #FD4D17;
    color: #fff;
    padding: 10px;
    border-radius: 15px 15px 0 0;
  }
  .sq-image{
    padding: 2em;
    background-color: white;
    }
  }
  .rect-container{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    .rect-image{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  // -------- Footer -----------
  footer{
    background-color: #32DF1D;
    padding-top: 3em;
    h4{
      color: #8B572A;
      font-size: 1.2em;
    }
    p{

      color: white;
      font-weight: 600;
      line-height: 0.7em;
    }
  }
