<!-- <nav >
  <ul class="menu clearfix float-right">
    {% for item in site.data.nav-main %}
      <li><a href="{{ item.url }}">{{ item.link }}</a></li>
    {% endfor %}
  </ul>
</nav> -->
<div class="row expanded"><nav>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="special">
    <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title"></div>
        <li><a href="/" class="text-center">
          <img id="logo-bar" src="assets/img/logo.png" alt="" /></a>
        </li>
        <li><a href="/quienessomos">Quiénes Somos</a></li>
        <li><a href="/tours">Tours</a></li>
        <li><a href="/reservar">Reservar</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="/blog">Blog</a></li></ul>
      </div>
  </div>

  <div class="top-bar" id="example-menu">
    <div class="top-bar-left">
      <ul class="expanded menu text-center icon-top">

          <li><a id="navitem" href="/quienessomos">Quiénes Somos</a></li>
          <li><a id="navitem" href="/tours">Tours</a></li>
          <li ><a id="navitem" href="/reservar">Reservar</a></li>
          <li><a href="/" class="text-center"><img id="logo" src="assets/img/logo.png" alt="" /></a></li>
          <li ><a id="navitem" href="/contacto">Contacto</a></li>
          <li ><a id="navitem" href="/galeria">Galería</a></li>
          <li ><a id="navitem" href="/blog">Blog</a></li>
          <li ><a href="/blog"><i class="fi-list"></i><span>ESP</span></a></li>
          <li ><a href="/blog"><i class="fi-list"></i><span>ENG</span></a></li>


      </ul>
    </div>
  </div>
</nav></div>
