<nav>
  <div class="row expanded">
    <div class="columns text-center">
      <ul class="no-bullet">
        <li><a href="/" class="text-center"><img id="logo" src="../assets/img/logo.png" alt="" /></a></li>
      </ul>
    </div>
    <div class="columns text-center">
      <ul class="no-bullet">
        <li><a href="quienessomos" class="text-center"><h4>Quiénes somos</h4></a></li>
        <li><p>Horario</p></li>
        <li><p>Ubicación</p></li>
        <li><p>Condiciones y Términos</p></li>
      </ul>
    </div>
    <div class="columns text-center">
      <ul class="no-bullet">
        <li><a href="/tours" class="text-center"><h4>Tours</h4></a></li>
        <li><p>Canopy Tours</p></li>
        <li><p>Rappeling</p></li>
        <li><p>Caminatas</p></li>
      </ul>
    </div>
    <div class="columns text-center">
      <ul class="no-bullet">
        <li><a href="/contacta" class="text-center"><h4>Contacta</h4></a></li>
        <li><p><a href="tel:+507 68513878">+507 68513878</a></p></li>
        <li><p>Escríbenos</p></li>
      </ul>
    </div>
    <div class="columns text-center">
      <ul class="no-bullet">
        <li><a href="/tours" class="text-center"><img src="../assets/img/paypal.png" alt="" /></a></li>
      </ul>
    </div>

  </div>
</nav>
