<!DOCTYPE html>
<html lang="es-ES">

  {% include head.html %}

  <body>
    {% include facebook-sdk.html %}

    {% include nav.html %}


    <div class="container">
      <div class="row">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          {% if page.author %}
          {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
          {% endif %}

          <header class="post-header center">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1><br>
            <span>
              <img src="{{ author.avatar }}" class="avatar circle responsive-img center" alt="{{ author.name }} bio foto" /><br>{% if author.pro %}<span><img src="{{site.baseurl}}/images/PRO.png" alt="" /></span>{% endif %}</span>
            <p class="post-meta center">{% if page.author %}  <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }} · </span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> · Lo lees en {% include read-time.html %}</span>{% endif %}</p>            </header>



          <div class="post-content" itemprop="articleBody">
            {{ content }}

          </div>



            {% include bio-team.html %}

      </div>

      <div class="row">
        <div class="col s12">
          {% if page.comments %}
          <div id="disqus_thread"></div>
          <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
          */

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//estospanas.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

      </div>

    </div>
    </div>

    {% include footer.html %}

  </body>

</html>
